<header>
    Logo img
    <nav>
        {{#if isLoggedIn}}
            {{#if isAdmin}}
                {{!-- admin --}}
            {{else}}
                {{!-- user --}}
            {{/if}}
            {{else}}
                {{!-- not logged in --}}
            <a href="/login">
                Вход
            </a>
            <a href="/register">
                Регистрация
            </a>
        {{/if}}
    </nav>
</header>