<form id="regForm" action="/register" method="POST">
    <h2>Регистрация</h2>
    <div class="inputes-wrapper">
        <div class="input-wrapper">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email">
        </div>
        <div class="input-wrapper">
            <label for="password">Парола: </label>
            <input type="password" id="password" name="password">
        </div>
        <div class="input-wrapper">
            <label for="rePassword">Потварди парола: </label>
            <input type="password" id="rePassword" name="rePassword">
        </div>
        <button type="submit">Регистриция</button>
        <p>Вече имате акаунт? <a href="/login">Влезте</a></p>
    </div>
</form>